.list-item {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border: 1px solid rgb(236, 90, 236);
  background: rgb(163, 49, 163);
}

.text-input {
  width: 70%;
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  background: rgb(163, 49, 163);
  color: white;
}

@media (max-width: 900px) {
  .text-input {
    width: 50%;
    font-size: 1rem;
  }
}

.list-item .delete {
  width: 8%;
  background: rgb(241, 9, 9);
  font-size: 1.2rem;
  border-radius: 10px;
  outline: none;
  color: white;
}

@media (max-width: 900px) {
  .list-item .delete {
    width: 15%;
    font-size: 3vw;
  }
}

.list-item .edit {
  width: 8%;
  background: rgb(11, 11, 179);
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  color: white;
}

@media (max-width: 900px) {
  .list-item .edit {
    width: 15%;
    font-size: 3vw;
  }
}

.list-item .submit-edit {
  width: 8%;
  background: rgb(240, 240, 13);
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  color: rgb(47, 3, 47);
}

@media (max-width: 900px) {
  .list-item .submit-edit {
    width: 15%;
    font-size: 3vw;
  }
}

.completed {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

.list-item button:hover {
  cursor: pointer;
}

.chkbox-input {
  width: 5%;
  height: 25px;
  align-self: center;
  cursor: pointer;
}

@media (max-width: 900px) {
  .chkbox-input {
    width: 5%;
  }
}
