* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background:linear-gradient(250deg, rgba(30, 13, 107, 0.4), rgba(117, 24, 94, 0.3)), url("./images/ToDo.png");
  background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.app h1 {
  text-align: center;
  color: rgb(0, 0, 10);
  margin: 10px 0;
}
