.unordered-list-todos {
  list-style-type: none;
  width: 80vw;
  height: 40vh;
  margin: 0 auto;
  padding: 0;
  border: 1px solid rgb(167, 78, 167);
  overflow-y: auto;
}

.unordered-list-todos h3 {
  color: rgb(0, 0, 10);
  text-align: center;
}
