.form {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  margin: 50px auto;
}

.form input[type="text"] {
  width: 60%;
  border-radius: 10px;
  outline: none;
  background: rgb(163, 49, 163);
  font-size: 1.2rem;
  padding: 6px;
  color: white;
}

.form button {
  width: 15%;
  border-radius: 10px;
  outline: none;
  background-color: rgb(185, 74, 185);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 6px;
  cursor: pointer;
  color: white;
}

.form input[type="color"] {
  width: 15%;
  height: auto;
  border-radius: 10px;
}
